*{
    margin:0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*feature comment*/
/*another feature comment*/
.wrapper{
    width:970px;
    margin:auto;
    vertical-align: bottom;
    text-align: center;
}

h1{
    font-style: italic;
}

p{
    display: inline-block;
    text-align: center;
    width:44px;
    height:44px;
    margin:1px;
    border:1px solid #808080;
}

span{
    display: block;
}

.middle{
    color:#19139f;
    font-weight: bold;
}
.blue{
    width:96px;
    display:inline-block;
    margin-right: 15px;
}

.blue .first{
    display:block;
}
.blue p{
    background-color:#689bff;
}

.top, .bottom{
    font-size:10px;
}

.pink{
    display:inline-block;
    width: 480px;
}

.pink p{
    background-color: #fd9a98;
}

.yellow{
    display:inline-block;
    width: 288px;
}

.yellow p{
    background-color: #fecb00;
}
.yellow #yellow-first{
    display: block;
    margin-left:auto;
    margin-right:0px;
}

.lime{
    width: 680px;
    margin-left: 152px;
}

.lime p{
    background-color: #1fca21;
}